# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environments
.venv/
.cache/
.ultralytics/
.labelstudio/

# YOLO outputs
runs/
datasets/
*.pt

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd
Icon?
